@import "../../styles.scss";

.projects {

    &__portfolio {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include respond(break-l) {
            flex-direction: column;
        }
    }

    &__slide {

        &:not(:last-child) {
            margin-bottom: 50px;
        }

        &:nth-last-child(2) {
            // margin-bottom: 0;

            @include respond(break-l) {
                margin-bottom: 50px;
            }
        }

        @include respond(break-l) {
            width: 100%;
        }
    }

    &__card {
        border-bottom: 1px solid $color-orange;
        border-left: 1px solid $color-orange;
        padding: 50px;
        display: flex;
        flex-direction: column;

        @include respond(break-s) {
            padding: 20px;
        }
    }

    &__img {
        padding: 25px;
        border: 1px solid $color-orange;

        @include respond(break-xl) {
            padding: 0;
        }

        @include respond(break-l) {
            padding: 25px;
            width: 100%;
        }

        @include respond(break-s) {
            padding: 0;
        }
    }

    &__button-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__button {
        margin-top: 50px;
    }
}