@import "../../styles.scss";

.projects {
    margin-bottom: 100px;
    padding-top: 100px;
    margin-top: -100px;

    &__container {
        @include container;
        margin-top: 50px;
    }

    &__description {
        font-family: $font-raleway;
        font-size: 25px;
        font-weight: 100;
        text-align: center;
    }

    &__heading {
        font-family: $font-raleway;
        font-size: 50px;
        font-weight: 100;
        text-align: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__menu {
        @include flex-row;
        list-style: none;
        text-transform: uppercase;
        justify-content: center;
        margin: 40px 0;
    }

    &__item {
        cursor: pointer;

        &:first-child {
            font-weight: 500;
        }

        &:not(:last-child) {

            &::after {
                content: "/";
                display: inline;
                margin: 0 10px;
                font-weight: 100;
                cursor: default;
            }
        }
    }

    &__portfolio {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 75px;
    }

    &__slide {
        float: left;
        position: relative;
        perspective: 1500px;
        height: 300px;
        width: calc(100% / 3);
        width: 370px;

        @include respond(break-l) {
            width: calc(100% / 2);
            width: 370px;
        }

        @include respond(break-m) {
            width: 370px;
        }
    }

    &__card {
        transition: all .8s;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
        padding: 10px;

        &--front {
            z-index: 200;
            transform: rotateY(0);
        }

        &--back {
            z-index: 100;
            transform: rotateY(180deg);
        }
    }

    &__slide:hover &__card--front {
        transform: rotateY(-180deg);
    }

    &__slide:hover &__card--back {
        transform: rotateY(0)
    }

    &__content {
        @include box-shadow;
        height: 280px;

        &--front {
            position: relative;
        }

        &--back {
            @include flex-col-center;
            color: $color-white;

            &-app {
                background-image: linear-gradient(to right bottom, $color-red, $color-red-2);
            }

            &-web {
                background-image: linear-gradient(to right bottom, $color-orange, $color-orange-2)
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__title {
        background-image: linear-gradient(to bottom right, rgba($color-dark, .5), rgba($color-dark, .75));
        color: $color-white;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        font-family: $font-raleway;
        padding: 25px;
        text-align: center;
        font-weight: 300;
        font-size: 25px;
    }

    &__type {
        font-family: $font-raleway;
        text-transform: uppercase;
        margin: 25px 0;
        font-size: 25px;
    }
    
    &__button,
    &__button:link,
    &__button:visited {
        @include transition;
        @include box-shadow;
        border: 2px solid $color-dark;
        background-color: $color-dark;
        color: $color-white;
        padding: 10px 20px;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        width: 150px;
        font-weight: 700;
        margin-top: -2px;
        font-family: $font-quicksand;

        &:hover,
        &:active {
            background-color: $color-orange;
            border: 2px solid $color-orange;
        }
    }

    &__button {
        margin-top: 25px;
    }

    &__icon:link,
    &__icon:visited {
        @include transition;
        width: 50px;
        height: 50px;
        font-size: 30px;
        text-align: center;
        color: rgba($color-white, .5);
        text-decoration: none;
        margin-top: 25px;

        &:hover,
        &:active {
            color: $color-white;
        }
    }
}