@import "../../styles.scss";

.language-selector {
    display: flex;
    align-items: flex-end;

    & button {
        border: none;
        background: transparent;
        cursor: pointer;
        
        &:first-of-type {
            margin-right: 5px;

            @include respond(break-s) {
                margin-right: 2px;
            }
        }
    }

    & img {
        width: 25px;
        height: auto;
        margin-bottom: -5px;
    }
}