@import "../../styles.scss";

.skills {

    &__container {
        @include flex-col-center;
    }

    &__box {
        width: 100%;
    }

    &__icon-container {
        @include flex-row;
        border-bottom: 1px solid $color-orange;
        border-left: 1px solid $color-orange;
        width: 100%;
        flex-wrap: wrap;

        @include respond(break-s) {
            padding: 25px 0;
        }
    }

    &__icon-box {
        flex-basis: calc(100% / 3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0;

        @include respond(break-s) {
            flex-basis: 100%;
            margin: 30px 0;
        }
    }

    &__icon {
        text-align: center;
        @include transition;
        display: inline-block;
        font-size: 80px;
        color: $color-white;
        display: block;
        width: 100px;
        height: 100px;
    }

    &__icon-title {
        color: $color-white;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 400;
        font-family: $font-raleway;
    }

    &__svg {
        display: block;
        margin: 10px;
        width: 80px;
        height: 80px;

        & path {
            fill: $color-white;
        }
    }
}