@import "../../styles.scss";

.skills {
    @include clip-down-up;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,1));
    padding-top: 5px;
    margin-top: -150px;

    @include respond(break-m) {
        height: 100%;
    }

    &__wrap {
        @include clip-down-up;
        background-image: linear-gradient(to bottom right, rgba($color-orange, .8), rgba($color-red, .75)), url("../../assets/images/bg-middle.jpg");
        background-size: cover;

        @include respond(break-m) {
            height: 100%;
        }
    }

    &__container {
        @include flex-col-center;
        padding: 200px;

        @include respond(break-xl) {
            padding: 150px 0;
        }

        @include respond(break-m) {
            padding: 100px 0;
        }
    }

    &__description {
        font-family: $font-raleway;
        font-size: 25px;
        font-weight: 100;
        color: $color-white;
    }

    &__heading {
        font-family: $font-raleway;
        font-size: 50px;
        font-weight: 100;
        color: $color-white;
    }

    &__box {
        @include flex-row;
        width: 100%;
        margin-top: 50px;

        @include respond(break-m) {
            flex-direction: column;
        }
    }

    &__slide {
        @include box-shadow;
        @include transition;
        text-align: center;
        background-color: rgba($color-white, .8);
        padding: 50px 25px;
        margin: 25px;

        @include respond(break-xl) {
            width: 100%;
            margin-bottom: 50px;
        }

        @include respond(break-l) {
            margin: 15px;
            padding: 10px;
            width: auto;
            margin-bottom: 35px;
        }

        @include respond(break-m) {
            padding: 30px;
        }

        @include respond(hover) {
            &:hover,
            &:active {
                transform: scale(1.02);
                background-color: $color-white;
            }
        }
    }

    &__icon {
        @include transition;
        display: inline-block;
        font-size: 75px;
        background-image: linear-gradient(to right, $color-orange, $color-red);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin: 25px 0 50px;
    }

    &__title {
        font-family: $font-raleway;
        color: $color-dark;
        text-transform: uppercase;
        margin-bottom: 25px;
        font-size: 20px;

        @include respond(break-l) {
            font-size: 16px;
        }
    }

    &__text {
        color: $color-dark;
        padding: 5px 25px;
        font-size: 16px;
    }
}