@import "../../styles.scss";

.about {
    @include section-padding;

    &__container {
        @include container;
        @include flex-row;
    }

    &__box {

        &--image {
            position: relative;
            margin-right: 75px;
            margin-bottom: -5px;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: $color-orange;
                top: -10%;
                left: -15%;
                z-index: -1;
            }
        }

        &--text {
        }
    }

    &__img {
        width: 100%;
        z-index: 10;
        box-shadow: 0 0 85px 0 rgba($color-black, .15);
    }

    &__content {
        font-family: $font-raleway;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
    }

    &__header {
        font-size: 50px;
        font-weight: 100;
        line-height: 40px;
    }

    &__span {
        font-size: 25px;
        font-weight: 300;
        margin-top: -20px;
    }

    &__paragraph {
        font-size: 19px;
    }

    &__button {
        @include transition;
        border: 2px solid $color-dark;
        background-color: $color-dark;
        color: $color-white;
        padding: 10px 20px;
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        width: 200px;
        margin-top: -2px;

        &:hover,
        &:active {
            background-color: $color-white;
            color: $color-dark;
        }

    }
}