@import "../../styles.scss";

.about {
    @include section-padding;
    margin-top: -200px;
    background-color: rgba($color-light-2, .5);

    &__container {
        @include container;
        @include flex-row;
        padding-top: 200px;
        padding-bottom: 200px;

        @include respond(break-m) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 100px;
        }
    }

    &__box {

        &--picture {
            position: relative;
            margin-right: 75px;
            margin-bottom: -5px;

            @include respond(break-m) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }

    &__img {
        width: 350px;
        z-index: 10;
        @include box-shadow;

        @include respond(break-m) {
            width: 100%;
        }
    }

    &__content {
        font-family: $font-raleway;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @include respond(break-m) {
            text-align: center;
            align-items: center;
        }
    }

    &__heading {
        font-size: 50px;
        font-weight: 100;
        line-height: 40px;

        @include respond(break-xl) {
            font-size: 45px;
        }

        @include respond(break-l) {
            font-size: 40px;
        }

        @include respond(break-m) {
            margin: 25px 0;
        }
    }

    &__span {
        font-size: 25px;
        font-weight: 300;
        margin-top: -20px;

        @include respond(break-xl) {
            font-size: 20px;
        }

        @include respond(break-l) {
            font-size: 18px;
        }

        @include respond(break-m) {
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    &__paragraph {
        font-size: 19px;

        @include respond(break-xl) {
            font-size: 17px
        }

        @include respond(break-l) {
            font-size: 15px;
        }

        @include respond(break-m) {
            font-size: 16px;
            margin: 0 20px 20px;
        }
    }

    &__button {
        @include transition;
        border: 2px solid $color-dark;
        background-color: $color-dark;
        color: $color-white;
        padding: 10px 20px;
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        width: 200px;
        font-weight: 700;
        margin-top: -2px;
        @include box-shadow;
        font-family: $font-quicksand;

        &:hover,
        &:active {
            background-color: $color-orange;
            border: 2px solid $color-orange;
            // color: $color-dark;
        }

        &:active {
            @include box-shadow-low;
        }

        @include respond(break-m) {
            margin-top: 15px;
        }
    }
}