@import "../../styles.scss";

.about {
    @include section-padding;
    margin-top: -200px;
    background-color: rgba($color-light-2, .5);
    // background-color: rgba($color-light-2, 1);

    &__container {
        @include container;
        @include flex-row;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    &__box {

        &--picture {
            position: relative;
            margin-right: 75px;
            margin-bottom: -5px;
        }
    }

    &__img {
        width: 100%;
        z-index: 10;
        @include box-shadow;
    }

    &__content {
        font-family: $font-raleway;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__heading {
        font-size: 50px;
        font-weight: 100;
        line-height: 40px;
    }

    &__span {
        font-size: 25px;
        font-weight: 300;
        margin-top: -20px;
    }

    &__paragraph {
        font-size: 19px;
    }

    &__button {
        @include transition;
        border: 2px solid $color-dark;
        background-color: $color-dark;
        color: $color-white;
        padding: 10px 20px;
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        width: 200px;
        font-weight: 700;
        margin-top: -2px;
        @include box-shadow;
        font-family: $font-quicksand;

        &:hover,
        &:active {
            background-color: $color-orange;
            border: 2px solid $color-orange;
            // color: $color-dark;
        }

        &:active {
            @include box-shadow-low;
        }
    }
}