@import "../../styles.scss";

.contact {

    &__container {
        @include flex-col-center;
    }

    &__box {
        margin-top: 50px;
        width: 75%;
        width: 100%;
    }

    &__form {
        @include flex-col;
        width: 100%;
        margin: 0 auto;
    }

    &__line {
        @include flex-row;
        width: 100%;

        @include respond(break-l) {
            flex-direction: column;
        }
    }

    &__half {
        width: 100%;
        margin-bottom: 50px;
        
        &:first-child {
            margin-right: 25px;

            @include respond(break-l) {
                margin-right: 0;
            }
        }

        &:last-child {
            margin-left: 25px;

            @include respond(break-l) {
                margin-left: 0;
            }
        }
    }

    &__label {
        font-weight: 100;
        font-size: 30px;
        color: $color-orange;
        font-family: $font-quicksand;
        border-bottom: 1px solid $color-orange;
        padding-left: 50px;
        padding-bottom: 20px;
        display: inline-block;
    }

    &__input {
        border: none;
        width: 100%;
        border-bottom: 1px solid $color-orange;
        border-left: 1px solid $color-orange;
        background-color: transparent;
        padding: 50px;
        color: $color-white;
        font-size: 20px;
        font-weight: 300;

        &::placeholder {
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-family: $font-raleway;
        }

        &--textarea {
            resize: none;
            font-family: $font-raleway;
            font-size: 20px;
        }

        @include respond(break-s) {
            padding: 20px;
        }
    }

    &__btn-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__info {
        font-family: $font-raleway;
        display: none;
        font-size: 20px;
        position: absolute;
        top: -55%;
        text-transform: uppercase;
        font-weight: 700;
        color: $color-sky-2;

        &--on {
            display: block;
        }

        @include respond(break-m) {
            font-size: 18px;
            text-align: center;
        }

        @include respond(break-s) {
            font-size: 14px;
            top: -65%;
        }
    }
}

input:-webkit-autofill {
    font-family: $font-raleway;
    -webkit-box-shadow: 0 0 0px 1000px $color-dark inset;
    box-shadow: 0 0 0px 1000px $color-dark inset;
    background-color: transparent;
    -webkit-text-fill-color: $color-light;
    padding: 50px;
    border: none;
    width: 100%;
    border-bottom: 1px solid $color-orange;
    border-left: 1px solid $color-orange;
    background-color: transparent;
    padding: 50px;
    color: $color-white;
    font-size: 20px;
    font-weight: 300;

    @include respond(break-s) {
        padding: 20px;
    }
  }