@import "../../styles.scss";

.footer {
    @include clip-up;
    height: 70vh;
    margin-top: -150px;

    &__background-image {
        background-image: linear-gradient(to bottom right, rgba($color-dark, .5), rgba($color-dark, .75)), url("../../assets/images/bg-footer.jpg");
        background-size: cover;
        height: 70vh;
        position: relative;
    }

    &__background-content {
        @include clip-up;
        padding-top: 150px;
        position: absolute;
        width: 100%;
        background-image: linear-gradient(to bottom right, rgba($color-dark, .9), rgba($color-dark, .8));
        height: 25vh;
        bottom: 0;

        @include respond(break-m) {
            height: 35vh;
        }
    }

    &__container {
        @include container;
        text-align: center;
    }

    &__text {
        font-family: $font-raleway;
        color: $color-white;
        font-size: 20px;
        font-weight: 100;
    }
}