@import "../../styles.scss";

.menubar {
    @include transition;
    z-index: 1000;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 70px);
    top: 70px;
    font-weight: 100;
    padding: 5px 150px;
    background-color: transparent;

    @include respond(break-xl) {
      width: 100%;
      padding: 5px 50px;
      top: 50px;
    }

    @include respond(break-l) {
        padding: 5px;
        top: 0px
    }

    &__bg {
        @include box-shadow;
        top: 0;
        background-color: rgba($color-orange, .9);
    }

    &__logo {
        font-family: $font-logo;
        font-size: 25px;
        text-align: center;
        display: block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        color: $color-white;
        border: 1px solid $color-white;

        @include respond(break-m) {
            font-size: 20px;
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
    }

    &__navigation {
        @include flex-row-align;
        width: 80%;
        justify-content: flex-end;

        @include respond(break-m) {
            width: auto;
            justify-content: center;
        }
    }

    &__language {
        margin-left: 50px;
        display: block;
        color: $color-white;
        text-align: center;
        font-size: 16px;

        @include respond(break-m) {
            margin-left: 10px;
        }
    }

    &__list {
        @include transition;
        list-style: none;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 16px;

        @include respond(break-m) {
            font-size: 15px;
        }
    }

    &__item {
        padding: 0 5px;

    }

    &__link {
        @include transition;
        cursor: pointer;
        text-decoration: none;
        color: $color-white;
        border-bottom: 1px solid transparent;
        position: relative;
        padding-bottom: 5px;

        &::before {
            @include transition;
            content: "";
            height: 1px;
            background-color: $color-white;
            display: block;
            width: 0%;
            position: absolute;
            right: 50%;
            bottom: 0;
        }

        &::after {
            @include transition;
            content: "";
            height: 1px;
            background-color: $color-white;
            display: block;
            width: 0%;
            position: absolute;
            left: 50%;
            bottom: 0;
        }

        @include respond(hover) {
            &:hover,
            &:active {

                &::before,
                &::after {
                    width: 50%;

                    @include respond(break-m) {
                        width: 0;
                    }
                }

                @include respond(break-m) {
                    font-weight: 500;
                }
            }
        }

        @include respond(break-m) {
            margin-top: 15px;
        }
    }
}