$color-white: #ffffff;
$color-black: #000000;

$color-orange: #ffa502;
$color-orange-2: #eccc68;
$color-red: #ff6348;
$color-red-2: #ff7f50;
$color-pink: #ff4757;
$color-pink-2: #ff6b81;
$color-grey: #747d8c;
$color-grey-2: #a4b0be;
$color-light: #ced6e0;
$color-light-2: #dfe4ea;
$color-dark: #2f3542;
$color-dark-2: #57606f;
$color-green: #2ed573;
$color-green-2: #7bed9f;
$color-sky: #1e90ff;
$color-sky-2: #70a1ff;
$color-blue: #3742fa;
$color-blue-2: #5352ed;