@import "../../styles.scss";

.download:link,
.download:visited {
    @include main-button;
    text-decoration: none;
    display: block;
    text-align: center;

    @include respond(break-m) {
        margin-top: 15px;
    }
}